# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ASP.NETCoreWebApplication.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\cook6\RiderProjects\ASP.NETCoreWebApplication\.idea\.idea.ASP.NETCoreWebApplication\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
